* {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: #F9FAF8;
    size: 24px;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 240px;
}

h2 {
    margin: 0px;
    padding: 0px;
    margin-left: 240px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}