* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    color: #F9FAF8;
    size: 24px;
    align-items: center;
    gap: 448px;
    margin-top: 24px;
    margin-bottom: 128px;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;

}

.section-1 {
    display: flex;
    gap: 64px;
    flex: 1;
    padding-bottom: 128px;
}

.description-1 {
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-wrap: wrap;
    gap: 8px;
}

.description-1 h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}

.description-1 p {
    font-size: 18px;
    color:#E5E7EB;
    margin: 0px;
    padding: 0px;
}

button {
    background-color: #3882F6;
    width: 128px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color:#F9FAF8;
    font-weight: bold;
    border-style: none;
}

#image-placeholder-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    background-color: grey;
    padding: 60px 128px;
    margin: 0px;
}

.section-2 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: #1F2937;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 110px;
}

.section-2 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 36px;
    font-weight: 900px;
}

.box {
    width: 140px;
    height: 140px;
    border:3px solid #3882F6;
    border-radius: 10px;
}

.item p {
    margin: 8px;
}

.container {
    display: flex;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 {
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 100px;
}

.section-3 h2 {
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.textbox {
    display: flex;
    flex-direction: column;
    max-width: 805px;
}

.textbox h2 {
    align-self: center;
}

.textbox p {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.section-4 {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 120px;
}

.container-2 {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    max-width: 950px;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    gap: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.container-2 h3 {
    margin-bottom: 5px;
}

.container-2 p {
    margin: 0 0 20px 0;
}

.container-2 button {
    flex: 0 0 auto;
    height: 40px;
    border: 2px #FFFFFF solid;
}